<div>
    <div class="row justify-content-md-center">
      <h3><%= @one_post.title %></h3>
    </div>
    <hr>
    <div class="row justify-content-md-end">
        <div class="col-2"><%= @one_post.created_at.+9.hour %></div>
        <div class="col-2"><%= @one_post.created_at.+9.hour %></div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-10">
        <p><%= @one_post.content %></p>
      </div>
    </div>
    <div class="row justify-content-md-end">
      <div class="col-1"><a href="/update_view/<%= @one_post.id %>"><h3>수정</h3></a></div>
      <div class="col-1"><a href="/destroy/<%= @one_post.id %>" data-method="get" data-confirm="댓글을 삭제하시겠습니까?"><h3>삭제</h3></a></div>
      <div class="col-2"><a href="/home/list"><h3>목록으로</h3></a></div>
    </div>
    <hr>
    <div class="reply row justify-content-center">
      <div class="col-10">
        <form action="/home/reply_write" method="POST">
          <div class="row pl-4">
            <label for="exampleTextarea">댓글</label>
          </div>
          <input type="hidden" value="<%= @one_post.id %>" name="post_id">
          <div class="form-group">
              <textarea class="form-control" rows="2" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
              <!--name=""은 비둘기 이름-->
          </div>
          <div class="form-group row justify-content-end my-2">
            <input class="btn btn-outline-danger"  type="submit" value="Submit">
          </div>
        </form>
        <br>
        <% @one_post.replies.order("id desc").each do |r| %>
          <div class="row justify-content-between">
            <div class="ml-4"><%= r.content %></div>
            <div class="row">
              <div class="col-6"><%= r.created_at.+9.hour %></div>
              <div class="col-3"><a href="/comment/reply_update_view/<%= r.id %>"><p>수정</p></a></div>
              <div class="col-3"><a href="/comment/reply_destroy/<%= r.id %>" data-method="post" data-confirm="댓글을 삭제하시겠습니까?"><p>삭제</p></a></div>
            </div>
          </div>
          <hr>
        <% end %>      
      </div>
    </div>
</div>